apiVersion: streaming.sneaksanddata.com/v1beta1
kind: MicrosoftSqlServerStream
metadata:
  name: mock-mssql-stream
  namespace: arcane
  annotations:
    arcane/state: "suspended"
spec:
  connectionStringRef:
    name: mssql-connection-secret
  sourceSettings:
    schema: "dbo"
    table: "users"
    changeCaptureIntervalSeconds: 30
    fetchSize: 1024
  sinkSettings:
    targetTableName: "users_stream"
  stagingDataSettings:
    dataLocation: "s3://my-bucket/staging/"
    tableNamePrefix: "staging_"
    catalog:
      catalogName: "iceberg_catalog"
      catalogUri: "thrift://localhost:9083"
      namespace: "default"
      schemaName: "streaming"
      warehouse: "s3://my-bucket/warehouse/"
  groupingIntervalSeconds: 60
  rowsPerGroup: 1000
  lookBackInterval: 3600
  fieldSelectionRule:
    ruleType: "all"
    fields: []
  tableProperties:
    format: "PARQUET"
    partitionExpressions: ["date(created_at)"]
    sortedBy: ["id"]
    parquetBloomFilterColumns: ["email"]
  jobTemplateRef:
    apiGroup: streaming.sneaksanddata.com
    kind: StreamingJobTemplate
    name: arcane-stream-microsoft-sql-server-mock
  backfillJobTemplateRef:
    apiGroup: streaming.sneaksanddata.com
    kind: StreamingJobTemplate
    name: arcane-stream-microsoft-sql-server-mock