name: Run tests with coverage
run-name: Validate code with coverage

on:
  push:
    branches: [ master ]  
  pull_request:
    branches: [ master ]

permissions: write-all  # required for badges

jobs:
  build:
    name: Validate code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.*'
          
      - name: Check Format
        run: gofmt -d ./
        
      - name: Verify dependencies
        run: go mod verify
        
      - name: Install dependencies
        run: go mod vendor
        
      - name: Run go vet
        run: go vet ./...
        
      - name: Build
        run: go build -v ./...
        
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1.0
          
      - name: Test
        env:
          APPLICATION_ENVIRONMENT: units
        run: go test ./... -coverprofile=./cover.out -covermode=atomic -coverpkg=./...

      - name: check test coverage
        id: coverage
        uses: vladopajic/go-test-coverage@v2
        continue-on-error: true # Should fail after coverage comment is posted
        with:
          config: ./.github/.testcoverage.yaml
        
      # - name: Visualise Coverage
      #   if: ${{ github.ref != 'refs/heads/master' && always() }}
      #   run: go tool cover -html=cover.out -o=cover.html
        
      # - name: Upload Coverage
      #   if: ${{ github.ref != 'refs/heads/master' && always() }}
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: coverage
      #     path: cover.html
      #     retention-days: 1
      #   id: cover
          
      # - name: Post Coverage
      #   if: ${{ github.ref != 'refs/heads/master' && always() }}
      #   uses: peter-evans/create-or-update-comment@v4
      #   with:
      #     issue-number: ${{ github.event.number }}
      #     body: |
      #       New [coverage report](${{ steps.cover.outputs.artifact-url }}) available :sparkles:

      # Post coverage report as comment (in 2 steps)
      - name: find pull request ID
        run: |
            PR_DATA=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              "https://api.github.com/repos/${{ github.repository }}/pulls?head=${{ github.repository_owner }}:${{ github.ref_name }}&state=open")
            PR_ID=$(echo "$PR_DATA" | jq -r '.[0].number')
            
            if [ "$PR_ID" != "null" ]; then
              echo "pull_request_id=$PR_ID" >> $GITHUB_ENV
            else
              echo "No open pull request found for this branch."
            fi

      - name: post coverage report
        uses: thollander/actions-comment-pull-request@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-tag: coverage-report
          pr-number: ${{ github.event.pull_request.id }}
          message: |
            go-test-coverage report:
            ```
            ${{ fromJSON(steps.coverage.outputs.report) }}```

      - name: Check Coverage
        uses: vladopajic/go-test-coverage@v2
        with:
          config: ./.testcoverage.yml
          git-token: ${{ github.ref_name == 'master' && secrets.GITHUB_TOKEN || '' }}
          git-branch: badges
