name: Run tests with coverage
run-name: Validate code with coverage

on:
  push:
    branches: [ master ]  
  pull_request:
    branches: [ master ]

permissions: write-all  # required for badges

jobs:
  build:
    name: Validate code
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.*'
          
      - name: Check Format
        run: gofmt -d ./
        
      - name: Verify dependencies
        run: go mod verify
        
      - name: Install dependencies
        run: go mod vendor
        
      - name: Run go vet
        run: go vet ./...
        
      - name: Build
        run: go build -v ./...
        
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1.0
          
      - uses: extractions/setup-just@v3
        with:
          version: 1.40.0

      - name: Start the kind cluster
        run: just up

      - name: Test
        env:
          APPLICATION_ENVIRONMENT: units
        run: go test ./... -coverprofile=./cover.out -covermode=atomic -coverpkg=./... -cmd "kind get kubeconfig"

      - name: check test coverage
        id: coverage
        uses: vladopajic/go-test-coverage@v2.18.0
        # Should fail after coverage comment is posted
        continue-on-error: true
        with:
          config: ./.github/.testcoverage.yaml
        
      - name: post coverage report
        uses: thollander/actions-comment-pull-request@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-tag: coverage-report
          message: |
            go-test-coverage report:
            ```${{ fromJSON(steps.coverage.outputs.report) }}```

      - name: Check Coverage
        uses: vladopajic/go-test-coverage@v2.18.0
        with:
          config: ./.testcoverage.yml
          git-token: ${{ github.ref_name == 'master' && secrets.GITHUB_TOKEN || '' }}
          git-branch: badges

      - name: "finally check coverage"
        # Ignore this step for now, until we decide on coverage policy
        if: false && steps.coverage.outcome == 'failure'
        shell: bash
        run: echo "coverage check failed" && exit 1
