name: Run tests with coverage
run-name: Validate code with coverage

on:
  push:
    branches: [ master ]  
  pull_request:
    branches: [ master ]

permissions: write-all  # required for badges

jobs:
  build:
    name: Validate code
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-latest-arm64]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.*'
          
      - name: Check Format
        run: gofmt -d ./
        
      - name: Verify dependencies
        run: go mod verify
        
      - name: Install dependencies
        run: go mod vendor
        
      - name: Run go vet
        run: go vet ./...
        
      - name: Build
        run: go build -v ./...
        
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1.0
          
      - name: Test
        env:
          APPLICATION_ENVIRONMENT: units
        run: go test ./... -coverprofile=./cover.out -covermode=atomic -coverpkg=./...

      - name: check test coverage
        id: coverage
        uses: vladopajic/go-test-coverage@v2
        continue-on-error: true # Should fail after coverage comment is posted
        with:
          config: ./.github/.testcoverage.yaml
        
      - name: post coverage report
        # if: matrix.os == 'ubuntu-latest'  # Only run coverage report on x86
        uses: thollander/actions-comment-pull-request@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-tag: coverage-report
          message: |
            go-test-coverage report:
            ```${{ fromJSON(steps.coverage.outputs.report) }}```

      - name: Check Coverage
        # if: matrix.os == 'ubuntu-latest'  # Only run coverage check on x86
        uses: vladopajic/go-test-coverage@v2
        with:
          config: ./.testcoverage.yml
          git-token: ${{ github.ref_name == 'master' && secrets.GITHUB_TOKEN || '' }}
          git-branch: badges

      # - name: "finally check coverage"
      #   if: steps.coverage.outcome == 'failure'
      #   shell: bash
      #   run: echo "coverage check failed" && exit 1
